
div.canvas {
  display: inline-block;
}

canvas {
  background-color: #222222;
}

ul.controls {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

li.status {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}