!!! 5
html
  head
    title Storage API
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
    link(rel='stylesheet', href="style.css")
    script(src="../js/modernizr.js")
    script(src="script.js")
  body
    header
      h1 Storage API
    section
      .set
        input.key(type='text');
        input.value(type='text');
        button Set
      .get
        input.key(type='text');
        span.value
        button Get
      .remove
        input.key(type='text');
        button Remove
      .clear
        button Clear
      .all
        button All
        ul
    footer
      nav
        a(href="same") Same
        a(href="session") Session Storage
