!!! 5
html(lang='en')
  head
    title History API
    script(src="../js/modernizr.js")
    script(src="script.js")
  body
    header
      h1 History API
    div
      nav
        ul.boards
          li
            a(href="jp-sup-allrounder-11-8") JP SUP Allrounder 11'8"
          li
            a(href="jp-sup-allrounder-10-8") JP SUP Allrounder 10'8"
          li
            a(href="jp-sup-allrounder-9-8") JP SUP Allrounder 9'8"
          li
            a(href="jp-sup-waveboard-9-3") JP SUP Allrounder 9'3"
      #content
        !{body}
