!!! 5
html
  head
    title FileReader API
    script(src="../js/modernizr.js")
    script(src="multiple.js")
    link(rel='stylesheet', href="style.css")
  body
    header
      h1 FileReader API
    section
      input(type='file', multiple=true)
      .images
