!!! 5
html
  head
    title Drag In
    script(src="../js/modernizr.js")
    script(src="dragin.js")
    link(rel='stylesheet', href="style.css")
  body
    header
      h1 Drag In
    section
      .drop-zone