!!! 5
html
  head
    title HTML5
    link(href="css/html5reset.css", rel="stylesheet")
    link(href="css/common.css", rel="stylesheet")
  body
    header
      h1 HTML5
    section
      nav
        div
          ul
            li
              a(href="svg/index") SVG
            li
              a(href="canvas/index") Canvas
            li
              a(href="audio/index") The New Audio Tag
            li
              a(href="video/index") The New Video Tag
            li
              a(href="xhr2/index") XMLHttpRequest2
          ul
            li
              a(href="history/index") History API
            li
              a(href="offline/index") Application Cache
            li
              a(href="notification/index") Notifications API
            li
              a(href="filereader/index") File Reader API
            li
              a(href="dnd/index") Drag & Drop
            //
              li
                a(href="filesystem/index") File System API
          ul
            li
              a(href="storage/index") Storage API
            li
              a(href="webworkers/index") WebWorkers API
            li
              a(href="websockets/index") WebSockets API
            li
              a(href="location/index") GeoLocation API
            li
              a(href="deviceorientation/index") Device Orientation
      
