!!! 5
html
  head
    title SVG
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
    link(rel='stylesheet', href="style.css")
    script(src="../js/modernizr.js")
    script(src="script.js")
  body
    header
      h1 SVG
    section
      svg(height='300', version='1.1', width='300', xmlns='http://www.w3.org/2000/svg')
        circle(cx='60', cy='60', fill='#F66', r='40', stroke='#000')
        rect(fill='#66F', height='60', opacity='0.7', stroke='#000', width='80', x='60', y='60')
    footer
      nav
        a(href="raphael") Raphael
