!!! 5
html
  head
    link(href="css/html5reset.css", rel="stylesheet")
    link(href="css/common.css", rel="stylesheet")
  body
    header
      h1 Notification
    section
      p This is a notification!