
div.canvas {
  display: inline-block;
	margin: 20px;
  position: relative;
  vertical-align: top;
}

canvas {
  background-color: #FFB5A5;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

canvas.top {
  background-color: rgba(0,0,0,0);
  left: 0;
  position: absolute;
}

ul.controls {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

label {
  font-size: 14px;
}

ul.controls li + li {
  margin-top: 10px;
}
