!!! 5
html(lang='en', manifest="cache.manifest")
  head
    title Application Cache API
    script(src="../js/modernizr.js")
    script(src="script.js")
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
    link(rel='stylesheet', href="style.css")
  body
    header
      h1 Application Cache API
    section
      #content
        section
          nav
            ul
              li
                a(href="chapter-1") Chapter 1: Lorem ipsum
              li
                a(href="chapter-2") Chapter 2: Ut enim
              li
                a(href="chapter-3") Chapter 3: Duis aute
              li
                a(href="chapter-4") Chapter 4: Excepteur sint
