!!! 5
html
  head
    title The New Audio Tag
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
    link(rel='stylesheet', href="style.css")
    script(src="../js/modernizr.js")
    script(src="script.js")
  body
    header
      h1 The New Audio Tag
    section
