!!! 5
html
  head
    title WebWorkers
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
    link(rel='stylesheet', href="style.css")
    script(src="../js/modernizr.js")
    script(src="script.js")
  body
    header
      h1 WebWorkers
    section
      .time
        label Time
        span.time
      .prime
        label Prime
        span.prime
