!!! 5
html
  head
    title Brief Introduction
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
  body
    header
      h1 Brief Introduction
    section
