!!! 5
html
  head
    title Race Car
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
    link(rel='stylesheet', href="style.css")
    script(src="../js/modernizr.js")
    script(src="racecar.js")
  body
    header
      h1 Race Car
    section
      .canvas
        canvas(width=300, height=600)
      ul.controls
        li
          button.run Run
        li.status
        li.gamma
