!!! 5
html
  head
    title XHR2 - Blob
    script(src="../js/modernizr.js")
    script(src="blob.js")
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
    link(rel='stylesheet', href="style.css")
  body
    header
      h1 XHR2 - Blob
    section
      button.load Load
      #content
