!!! 5
html
  head
    title WebSockets
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
    link(rel='stylesheet', href="style.css")
    script(src="../js/modernizr.js")
    script(src="script.js")
  body
    header
      h1 WebSockets
    section
      .server
        label URL
        input(type='text')
        button.connect Connect
      .send
        label Send
        textarea.send
        button.send Send
      .received
        label Received
        ul
    footer
      nav
        a(href="raphael") Raphael
