!!! 5
html
  head
    title Canvas
    link(href="../css/html5reset.css", rel="stylesheet")
    link(rel='stylesheet', href="../css/common.css")
    link(rel='stylesheet', href="style.css")
    script(src="../js/modernizr.js")
    script(src="script.js")
  body
    header
      h1 Canvas
    section
      .canvas
        canvas.drawing(width=400, height=400)
        canvas.top(width=400, height=400)
      ul.controls
        li
          button.begin-path Begin
        li
          button.close-path Close
        li
          button.fill Fill
        li
          button.stroke Stroke
        li
          button.clear Clear
        li
          label Fill Color
          input.fill(type='color')
        li
          label Stroke Color
          input.stroke(type='color')
        li
          label Line Width
          input.line-width(type='range', min=1, max=10, step=1, value=3)
    footer
      nav
        a(href="animation") Animation
        a(href="image") Image
        